* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1, h2 {
    font-size: 100%;
  }
  
  .header, .information, .selfie, .network, .phone {
    font-size: 100%;
    font-family: inherit;
  }
  
.biogrpahy, .work, .message{
  font-size: 50%;
  font-family: inherit;
}
  