*{
    font-family: monospace;
    line-height: 1.5;
    margin: 0%;
    padding: 1%;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: white;
}

.header{
    background-color: white;
    margin-top: -40px;
    text-align: center;
}

.links{
    display: inline-block;
    text-align: center;
    font-size: large;
}

.links a:hover{
    background-color: #3e8e41;
}
.information{
    background-color: grey;
    color: white;
}

.selfie{
    background-color: grey;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.network{
    background-color: grey;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.phone{

    background-color: grey;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.biography{
    background-color: white;
    color: black;
    display: inline-block;
    vertical-align: top;
    flex-wrap: wrap;
}

.work{
    background-color: white;
    color: black;
    display: inline-block;
    vertical-align: top;
}

.message{
    background-color: white;
    color: black;
    display: inline-block;
    vertical-align: top;
}

ul{
    list-style-type: square;
}

.social-link{
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.social-link:hover {background-color: #3e8e41}

.footer-text{
    font-size: x-large;
    text-align: center;
}
